include ../mixins/icons.pug

- var currentPage = typeof pageActive !== "undefined" ? pageActive : "topics"

aside.sidebar
  //- Logo
  .sidebar-logo
    .sidebar-logo__title Midnight Conductor
    .sidebar-logo__subtitle YOUR SONIC STAGE

  //- Navigation
  nav.sidebar-nav
    ul.sidebar-nav__list
      li.sidebar-nav__item
        a.sidebar-nav__link(class=currentPage === "home" ? "active" : "" href="/")
          span.sidebar-nav__icon
            +icon-home()
          span HOME
      li.sidebar-nav__item
        a.sidebar-nav__link(class=currentPage === "explore" ? "active" : "" href="/explore")
          span.sidebar-nav__icon
            +icon-explore()
          span EXPLORE
      li.sidebar-nav__item
        a.sidebar-nav__link(class=currentPage === "search" ? "active" : "" href="/search")
          span.sidebar-nav__icon
            +icon-search()
          span SEARCH
      li.sidebar-nav__item
        a.sidebar-nav__link(class=currentPage === "topics" ? "active" : "" href="/topics")
          span.sidebar-nav__icon
            +icon-topics()
          span TOPICS
      li.sidebar-nav__item
        a.sidebar-nav__link(class=currentPage === "favorite-songs" ? "active" : "" href="/favorite-songs")
          span.sidebar-nav__icon
            +icon-heart()
          span LIKED SONGS
      

  //- Create Playlist
  .sidebar-actions
    button.btn-create-playlist CREATE PLAYLIST
